doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js")
    script(src="javascripts/Face.js")
    script(src="javascripts/Die.js")
    script(src="javascripts/Bet.js")
    script(src="javascripts/Mat.js")
    script(src="javascripts/CrownsAndAnchorsGame.js")
    script(src="javascripts/app.js")
